In [2]:
# 학번: 60171625
# 이름: 김수아

# Import required packages
import numpy as np
import pandas as pd

In [7]:
# [1] Make 3 lists(dep, sno, gpa). 
#	a)	Make 3 lists with python internal libraries

dep1 =['cs', 'cs', 'dt', 'dcd', 'dt', 'as', 'as', 'ice', 'ice', 'ice']
sno1 =['0001', '0002', '0003', '0004', '0005', '0006', '0007', '0008', '0009', '0010']
gpa1 =[2.10, 3.50, 4.50, 2.70, 3.00, 3.15, 4.00, 0.00, 3.25, 3.70]

In [3]:
#	b)	Make 3 lists with numpy array

dep2 = np.array(['cs', 'cs', 'dt', 'dcd', 'dt', 'as', 'as', 'ice', 'ice', 'ice'])
sno2 = np.array(['0001', '0002', '0003', '0004', '0005', '0006', '0007', '0008', '0009', '0010'])
gpa2 = np.array([2.10, 3.50, 4.50, 2.70, 3.00, 3.15, 4.00, 0.00, 3.25, 3.70])

In [4]:
#	c)	Make 3 lists with pandas series

dep3 = pd.Series(['cs', 'cs', 'dt', 'dcd', 'dt', 'as', 'as', 'ice', 'ice', 'ice'])
sno3 = pd.Series(['0001', '0002', '0003', '0004', '0005', '0006', '0007', '0008', '0009', '0010'])
gpa3 = pd.Series([2.10, 3.50, 4.50, 2.70, 3.00, 3.15, 4.00, 0.00, 3.25, 3.70])

In [5]:
# [2] Consider the table shown in Q1.                                                    
#	a)	print mean of gpa with python internal libraries upto second decimal point.

def mean_function(list):
    if len(list)==0:
        return none
    return sum(list, 0.0)/len(list)

print("%0.2f" % mean_function(gpa1))

2.99

In [6]:
#	b)	print mean and median of gpa with numpy upto second decimal point.

print("%0.2f" % np.mean(gpa2))
print("%0.2f" % np.median(gpa2))

2.99
3.20

In [7]:
#	c)	print mean and median of gpa with pandas upto second decimal point.

print("%0.2f" % gpa3.mean())
print("%0.2f" % gpa3.median())

2.99
3.20

In [16]:
# [3] Define the function for calculating the median value of python list with python internal libraries 
#    and print median value of gpa. (Only with built-in fuction.)   
# <주의> 0부터 시작하기 때문에 1부터 시작하는 방식과 중앙값 구하는 방법이 다르다.

def median(lst):
    lst_len = len(lst)
    lst = sorted(lst)
    if lst_len % 2 == 0:
        return (lst[int(lst_len/2)-1]+lst[int(lst_len/2)])/2.0
    return lst[lst_len/2]

print(median(gpa1))

3.2

In [4]:
# [4] Using pandas.DataFrame, sort all data by gpa and print row with the 3rd highest gpa.
# <주의> 0부터 시작하기 때문에 3번째 것을 뽑으려면 인덱스는 2에 해당한다.

tab = pd.DataFrame({
    "dep" : ['cs', 'cs', 'dt', 'dcd', 'dt', 'as', 'as', 'ice', 'ice', 'ice'],
    "sno" : ['0001', '0002', '0003', '0004', '0005', '0006', '0007', '0008', '0009', '0010'],
    "gpa" : [2.10, 3.50, 4.50, 2.70, 3.00, 3.15, 4.00, 0.00, 3.25, 3.70]
})

tab.sort_values(by="gpa")
print(tab[2:3])

  dep   sno  gpa
2  dt  0003  4.5

In [10]:
# [5] Print mean, max, min of gpa by group of dep. (used: pandas)

grouped_by_dep = tab["gpa"].groupby(tab["dep"])
print(grouped_by_dep.mean())
print(grouped_by_dep.max())
print(grouped_by_dep.min())

dep
as     3.575000
cs     2.800000
dcd    2.700000
dt     3.750000
ice    2.316667
Name: gpa, dtype: float64
dep
as     4.0
cs     3.5
dcd    2.7
dt     4.5
ice    3.7
Name: gpa, dtype: float64
dep
as     3.15
cs     2.10
dcd    2.70
dt     3.00
ice    0.00
Name: gpa, dtype: float64

In [11]:
# [6] Print mean of gpa of each dep by year. (used: pandas)
tab2 = pd.DataFrame({
    'dep' : ["cs", "cs", "dt", "dt", "dt", "as", "as", "cs", "dt", "as"],
    'sno' : ["0001", "0002", "0003", "0004", "0005", "0006", "0007", "0008", "0009", "0010"],
    'gpa' : [2.10, 3.50, 4.50, 2.70, 3.00, 3.20, 4.00, 0.00, 3.20, 3.70],
    'year' : [2010, 2010, 2011, 2011, 2012, 2012, 2012, 2012, 2013, 2013]})

tab2.pivot_table(["gpa"], ["dep"],["year"],"mean")

      gpa
year 2010 2011 2012 2013
dep
as    NaN  NaN  3.6  3.7
cs    2.8  NaN  0.0  NaN
dt    NaN  3.6  3.0  3.2